h4 {
  color: grey;
  margin-bottom: 5px;
}
input {
  width: 400px;
  padding: 12px;
  border: black 1px solid;
}
.headingg {
  padding: 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 30px;
  color: #2e6595;
}
.PhoneInput {
  display: flex;
  margin-left: -30px;
}
.PhoneInputCountryIcon--border {
  background-color: var(--PhoneInputCountryFlag-backgroundColor--loading);
  box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth)
      var(--PhoneInputCountryFlag-borderColor),
    inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth)
      var(--PhoneInputCountryFlag-borderColor);
}
.PhoneInputCountryIconImg {
  display: block;
  width: 40px;
  margin: 5px;
  height: 30px;
}
.PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: var(--PhoneInputCountrySelect-marginRight);
}
.PhoneInputCountrySelect {
  top: 0;
  left: 0;
  margin-left: -600px;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}
